.banner .overlay {
    position: relative;
    z-index: 1; /* Baja el z-index del overlay */
}

.navbar {
    position: relative;
    z-index: 10; /* Asegura que la navbar esté encima del overlay */
}

.navbar .dropdown-menu {
    z-index: 20; /* Mayor que el de la navbar */
}

.navbar .dropdown-menu {
    z-index: 1050; /* Un valor alto para que se superponga sobre el banner */
}
.banner{

    position: relative;
    background-image: url("../img/banner.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
    z-index: 1;

}
.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
    opacity: 0.5;
    z-index: -1;
}


.banner h1, .banner p, .banner a {
    animation: fadeInUp 1.5s ease forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.navbar-nav .nav-link {
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #ffdd57; /* Cambia este color si deseas otro efecto */
}
.banner a.btn {
    background-color: #00329F;
    color: white;
    border-radius: 25px;
    padding: 12px 30px;
    transition: background-color 0.3s ease;
}

.banner a.btn:hover {
    background-color: #ffdd57;
    color: #00329F;
}
.dropdown-menu {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.banner, .banner2, .banner3 {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}
.banner, .banner2, .banner3 {
    padding: 15%;
}
.banner {
    animation: slideBackground 3s linear;
}

@keyframes slideBackground {
    from {
        background-position: 0% 50%;
    }
    to {
        background-position: 100% 50%;
    }
}


.banner2{
    position: relative;
    background-image: url("../img/familia.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
}

.banner3{
    position: relative;
    background-image: url("../img/consulta.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
}

.banner::after{
    content: "";
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: -1;


}

.menu{
    background-color: #00329F;
}

.fondo{
    background-color: #e5e5e5;
}

.fondoamarillo{
    background-color: rgb(225, 229, 0);
}

.textosura{
    color: #00329F;
}